.textField {
  width: 48%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.textField_label {
  color: #999999;
  margin-bottom: 5px;
}

.input {
  display: block;
  width: 100%;
  padding: 10px 12px;
  background-image: none;
  background-clip: padding-box;
  border: none;
}

.input::placeholder {
  color: #999999;
}
